/* #shared style */

.primary-btn{
    border-radius: 8px;
    background: #FF900E;
    padding: 18px 22px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600; 
    margin: 32px auto;
    cursor: pointer;
    /* border: 1px solid transparent;   */
    border: 0;

}


*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

    /* margin: 0;
    padding: 0; */
}

/* Header Styles Starting */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
   
}

nav li a{
    text-decoration: none;
    color:#424242;
    font-size: 18px;
    font-weight: 500;
}

.nav-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* #banner section */

.banner-contant{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
     font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    color:#727272;
    text-align: center;
    font-weight: 400;
}


.banner img{
    width: 100%;
    margin-top: 10px;
}

/* Header Styles Ending */


/* Main Style Start */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* Features Style Start */
.feature-container{
    display: flex;
    align-items: center;
    margin: auto 120px;

}


.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teams-content{
    /* padding-right: 70px;
    padding-left: 70px; */
   margin-left: 70px;
    
}







.teams-title{
    color: #727272;
    font-size: 2.5rem;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.features{
    color: #FF900E;
    font-size: 2.5rem;
    font-weight: 700;
}

.teams-description{
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}





/* Features Style End  */

/* Main Style End */














/* #Responsive Media Query */

/* mobile view */

@media screen and (max-width: 576px) {

    nav{
        flex-direction: column;
    }

    header {
        padding: 20px;
      }
    
}




/*Tablet or Medium Device View */
@media screen and (max-width: 960px) and (min-width: 576px) {
    nav{
        flex-direction: column;
    }

    header {
        padding: 50px;
      }





}
